<p>
  recipe-edit works!
</p>

<div class="row">
  <div class="col-xs-12">
    <!--use [] because we need to pass some data the the directive via property binding, the data is recipeForm-->
    <!--sync HTML with the recipeForm-->
    <!--FormGroup Tracks the value and validity state of a group of FormControl instances.
    A FormGroup aggregates the values of each child FormControl into one object, with each control name as the key. It calculates its status by reducing the statuses of its children. For example, if one of the controls in a group is invalid, the entire group becomes invalid.
    FormGroup is one of the three fundamental building blocks used to define forms in Angular, along with FormControl and FormArray.-->
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
              type="submit"
              class="btn btn-success"
              [disabled]="!getRecipeForms().valid">Save
          </button>
          <button
              type="button"
              class="btn btn-danger"
              (click)="onCancel()">Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
                type="text"
                id="imagePath"
                formControlName="imagePath"
                class="form-control"
                #imagePath
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- bind the imagePath from image url form control several lines above-->
          <img
              [src]="imagePath.value"
              class="img-responsive"
              style="max-height: 150px;">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <!--Udemy lecture 212, sync HTML with the ingredients array form control-->
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" *ngIf=" getReipeFormsIngredientsArray().value.length !== 0">
            <div class="col-xs-7">
              <label for="ingredientName">Ingredient Name</label>
            </div>
            <div class="col-xs-3">
              <label for="ingredientAmount">Ingredient #</label>
            </div>
          </div>
          <div
              class="row"
              *ngFor="let ingredientCtrl of getReipeFormsIngredientsArray().controls; let i = index"
              [formGroupName]="i"
              style="margin-top: 10px">
            <div class="col-xs-7">
              <input
                  type="text"
                  class="form-control"
                  formControlName="name">
            </div>
            <div class="col-xs-3">
              <input
                  type="number"
                  class="form-control"
                  formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button
                  class="btn btn-danger"
                  (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-s-12">
              <!--use type="button" so the form doesn't submit each time click the button-->
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>