<!--<p>app-header</p>-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--mark the link active-->
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!--You can have multiple elements inside <ng-template>. [ngIf] is the "normal" form of the directive, it uses property binding to receive the condition and decide if the template content should be rendered or not. *ngIf is converted to [ngIf] + <ng-template> behind the scenes and simply gives you an easier way of using *ngIf.-->
        <ng-template [ngIf]="!isAuthenticated()">
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Login</a></li>
        </ng-template>

        <li class="dropdown" appDropdown *ngIf="isAuthenticated()">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!--when the cursor is over the link, show a hand-->
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
        <li *ngIf="isAuthenticated()"><a style="cursor:pointer;" (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
